body {
    font: 20px "Lucida Console", "Courier New", monospace;
    line-height: 1.8;
    color: #000000;
    background-color: #FFEEF4;
    padding-top: 0px !important;
  }

.textcontainer {
  padding: 2% 10%;;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a {
  color: #000000;
}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color: #FFCCE0;
  color: #EEE7E8;
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #000000;
}

.nav-link {
  border: 3px outset #FFCCE0;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #FFCCE0;
  color: #000000
  transition: 0.3s;
}

.nav-link:hover {
  border: 3px outset #FF85B3;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #FF85B3;
  transition: 0.3s;
}

#btn {
  border: 3px outset #FFCCE0;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #FFCCE0;
  color: #000000;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset #FF85B3;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #FF85B3;
  transition: 0.3s;
}

.row {
  margin: auto auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

/*code {
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
}
*/
.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}